<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="WebApp_ID" version="2.5">
  <servlet>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.chat.UploadServlet</servlet-class>
  </servlet>
   
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/ChatRoom/UploadServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <display-name>Chat</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.chat.LoginServlet</servlet-class>
  </servlet>
   
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/ChatRoom/Chat</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <servlet-name>RoomUser</servlet-name>
    <servlet-class>com.chat.RoomUser</servlet-class>
  </servlet>
   
  <servlet-mapping>
    <servlet-name>RoomUser</servlet-name>
    <url-pattern>/ChatRoom/RoomUser</url-pattern>
  </servlet-mapping>
</web-app>
