
*{
    padding: 0;
    margin: 0;
    font-family:'Microsoft YaHei','鐎瑰缍�',Arial,sans-serif;
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
    min-height: 600px;
}
.none{
    display: none;
}
.content{
    box-sizing: border-box;
    width: 600px;
    min-width: 750px;
    padding-top: 2%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.subtitle{
    color: #d7b748;
    font-size: 4.2em;
    font-family:'鐎瑰缍�';
    text-align: center;
    margin-bottom: 25px;
    text-shadow:1px 1px 50px rgba(0,0,0,.3);
}
.main{
    box-shadow: 1px 1px 50px rgba(0,0,0,.4);
    position: relative;
    background-color:#26d717;
}
.main:after{
    content:"";
    height:0;
    line-height:0;
    display:block;
    visibility:hidden;
    clear:both;
    zoom:1;
}
.room{
    width: 600px;
    padding-bottom: 10px;
    background-color: black;
    float: left;
    border-right: 1px solid #26d717;
}
.cur_user,.member h4{
    height: 45px;
    line-height: 45px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    background-color: #26d717;
    color: black;
    position: relative;
}
.record{
    height: 280px;
    padding: 12px 12px 5px;
    overflow-y:scroll;
    background-color: black;
    color: #26d717;
}

.msg_input{
    color: #26d717;
    background-color:black;
}
textarea{
    box-sizing: border-box;
    width: 100%;
    resize: none;
    font-size: 15px;
    border: none;
    outline: none;
    padding: 5px 7px;
    border-top:1px solid #26d717;
}

.main button,.md-trigger{
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    border:none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
    float: right;
    margin-right: 10px;
}

.md-trigger,.md-trigger1{
	background-color:rgba(14, 37, 5, 0.3);
	color:#26d717;
}


.member{
    width: 149px;
    float: left;
}
.member ul{
    height: 412px;
    overflow-y:scroll;
    background-color: black;
}
.member li{
    height: 30px;
    line-height: 30px;
    list-style: none;
    width: 122px;
    text-align: center;
    background: no-repeat 10px center;
    padding-left: 10px;
    color:#26d717;
}
.member li+li{
    margin-top: 5px;
}
.top_form{
    position: absolute;
    right: 0;
    top: -30px;
}
.change_btn{
    position: absolute;
    left: 0;
    top: -30px;
}
#out_form{
    right: 114px;
}
.top_form button{
    margin-right: 0;
}
.copy{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}
.msgbox{
	clear:both;
	margin:4px 0 4px 0 ;
	max-width:500px;
	height:auto;
	word-break:break-all;
	border:1px black solid;
	color: black;
    background-color: #26d717;
	border-radius:5px 5px 5px 5px;
	padding:5px;
}
.lbox{
	float:left ;
}
.rbox{
	float:right ;
}

.button1{
	color: black;
    background-color: #26d717;	
}


.scan {
	width: 80%;
	height: 80px;
	background: linear-gradient(rgba(0,0,0,0),#7ff12a);
	position: absolute;
	animation: scan;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	top: -85px;
	z-index: 99;
	opacity: 0.25;
}

@keyframes scan {
	0 {
		top: 5%;
	}

	70% {
		top: 58%;
	}

	100% {
		top: 58%;
	}
}


::-webkit-scrollbar{width:14px;}
::-webkit-scrollbar-track{background-color:black;}
::-webkit-scrollbar-thumb{background-color:#26d717;}
::-webkit-scrollbar-thumb:hover {background-color:#26d717;}
::-webkit-scrollbar-thumb:active {background-color:#26d717;}

.loading {
  position: absolute;
  right: 0px;
  bottom: 80px;
  width: 150px;
  height: 8px;
  background-color: #2bfd1d;
  border-radius: 10px/5px;
}
.loading:after {
  top: -14px;
}
.loading:before {
  top: 14px;
}
.loading .circle {
  position: absolute;
  z-index: 2;
  background: #000;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #2bfd1d;
}
.loading:before {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.loading .dot {
  width: 4px;
  height: 4px;
  background-color: #2bfd1d;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 3;
  margin-left: -2px;
  margin-top: -2px;
}
.loading:after,
.loading:before {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  height: 8px;
  width: 100px;
  background-color: #2bfd1d;
  border-radius: 10px/5px;
  content: '';
  z-index: 1;
}
.loading .circle:after,
.loading .circle:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px #2bfd1d;
  -webkit-animation: growing 2s linear infinite;
  animation: growing 2s linear infinite;
}
@-webkit-keyframes growing {
  from {
    width: 0px;
    height: 0px;
  }
  to {
    width: 52px;
    height: 52px;
  }
}
@-moz-keyframes growing {
  from {
    width: 0px;
    height: 0px;
  }
  to {
    width: 52px;
    height: 52px;
  }
}
@-webkit-keyframes growing {
  from {
    width: 0px;
    height: 0px;
  }
  to {
    width: 52px;
    height: 52px;
  }
}
@-o-keyframes growing {
  from {
    width: 0px;
    height: 0px;
  }
  to {
    width: 52px;
    height: 52px;
  }
}
@keyframes growing {
  from {
    width: 0px;
    height: 0px;
  }
  to {
    width: 52px;
    height: 52px;
  }
}

input::-webkit-input-placeholder{
   color:#d7b748; 
}
